<div class="blog-details-container">
  <ngx-ui-loader></ngx-ui-loader>
  <div class="blog" *ngFor="let blog of blogs">
    <div class="card  ">
      <h5 class="card-header">
        <div>Title: {{ blog.title }}</div>
        <div class="card-action">
          <a class="btn btn-info" [routerLink]="[isMyPost ? '/my-feed': '/feed']">
            <i-bs name="backspace" class="icon"></i-bs>
          </a>
          <a class="btn btn-primary" *ngIf="isMyPost" (click)="onEdit(blog)">
            <i-bs name="pencil" class="icon"></i-bs>
          </a>
          <a class="btn btn-danger" *ngIf="isMyPost" (click)="onDelete(blog._id)">
            <i-bs name="trash" class="icon"></i-bs>
          </a>
        </div>
      </h5>
      <div class="card-body">
        <div class="card-title">Description: {{ blog.description }}</div>
        <div class="addition-block card-footer">
          <div class="author-info">
            <div class="card-text">Author: {{ blog.creator.name }}</div>
            <div class="card-text">Contact email: {{ blog.creator.email }}</div>
          </div>
          <div class="date-wrap">
            <div class="date">Creat at: {{ blog.createdAt | date: 'dd/MM/y' }}</div>
            <div class="date">Update at: {{ blog.updatedAt | date: 'dd/MM/y' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
