@import '../../../styles/constants/_index';
@import '../../../styles/scripts/_index';
@import '../../../styles/baseClasses/_index';

.main-footer {
  @include flexBox(row, space-between);
  width: 100%;
  height: 60px;
  background-color: var(--header-background);
  &__content {
    @extend %wholeSize;
    span {
      @include flex-center;
      height: 100%;
      color: var(--white);
    }
  }
}
