@mixin font-family-Roboto {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Arial", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

@mixin font-family-source-code-pro {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

@mixin fontSettings($size: false, $colour: false, $weight: false, $lh: false, $ls: false) {
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $ls {
    letter-spacing: $ls;
  }
}